---
layout: general
---

{{content}}
{%- if site.notes.size > 0 -%}
<h2 class="post-list-heading">{{ page.list_title | default: "Snippets" }}</h2>
<ul class="post-list">
    {%- for note in site.notes -%}
    <li>
        <h3>
            <a class="post-link" href="{{ note.url | relative_url }}">
                {{note.title | escape }}
            </a>
        </h3>
        <b>Category: </b>{{note.category}}
        {%- if site.show_excerpts -%}
        {{ note.excerpt }}
        {%- endif -%}
    </li>
    {%- endfor -%}
</ul> 
{% endif %}

