---
layout: general
---
<article class="post h-entry">

    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title}}</h1>
        {% if page.catagory %}
        <p><b>Catagory: </b> {{page.catagory}} </p>
        {% endif %}
        {% if page.filename %}
        <p><b>File: </b> <code>{{page.filename}}</code> </p>
        {% endif %}
    </header>

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

</article>