---
layout: general
---

{{content}}
{%- if site.snippets.size > 0 -%}
<h2 class="post-list-heading">{{ page.list_title | default: "Snippets" }}</h2>
<ul class="post-list">
    {%- for snippet in site.snippets -%}
    <li>
        <h3>
            <a class="post-link" href="{{ snippet.url | relative_url }}">
                {{snippet.title | escape }}
            </a>
        </h3>
        <b>Catagory: </b>{{snippet.catagory}}
        {%- if site.show_excerpts -%}
        {{ snippet.excerpt }}
        {%- endif -%}
    </li>
    {%- endfor -%}
</ul> 
{% endif %}
